# ---------------------------------------
# Python
# ---------------------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/
ENV/

.venv/
__pycache__/
*.pyc

# Environment Variables
.env

# ---------------------------------------
# IDE
# ---------------------------------------
.vscode/
.idea/

# ---------------------------------------
# OS Files
# ---------------------------------------
.DS_Store
Thumbs.db

# ---------------------------------------
# Python Packaging
# ---------------------------------------
build/
dist/
*.egg-info/
*.egg

# ---------------------------------------
# Logs
# ---------------------------------------
*.log

# ---------------------------------------
# Streamlit
# ---------------------------------------
.streamlit/secrets.toml

# ---------------------------------------
# PyInstaller
# ---------------------------------------
*.spec

# ---------------------------------------
# Jupyter
# ---------------------------------------
.ipynb_checkpoints/

# ---------------------------------------
# Testing
# ---------------------------------------
.pytest_cache/
.coverage
htmlcov/

# ---------------------------------------
# Recordings
# ---------------------------------------
recordings/*.wav
recordings/*.mid
recordings/*.mp3

# ---------------------------------------
# Temporary Files
# ---------------------------------------
*.tmp
*.temp

# ---------------------------------------
# Cache
# ---------------------------------------
.cache/

# ---------------------------------------
# MediaPipe Cache
# ---------------------------------------
*.tflite

# ---------------------------------------
# macOS
# ---------------------------------------
.AppleDouble
.LSOverride

# ---------------------------------------
# Windows
# ---------------------------------------
Desktop.ini